/* تنظیمات کلی */
main {
  margin-top: 30px;
}

/* فرم جستجو */
.form-control {
  max-width: 350px;
}

.city-title {
  font-size: 32px;
  font-weight: bold;
}

#current-temperature {
  font-size: 3rem;
  font-weight: bold;
  color: #ffcc00;
  animation: softPulse 2s infinite;
}

@keyframes softPulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

.weather-card {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  transition: transform 0.3s ease-in-out;
}

.weather-card:hover {
  transform: translateY(-5px);
}

.forecast-container {
  /* display: flex;
  overflow-x: auto;
  gap: 10px;
  padding: 10px; */

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch; /* Ensures equal height */
  gap: 16px;
}

.forecast-card {
  display: flex;
  flex: 0 0 130px;
  padding: 15px;
  text-align: center;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  transition: transform 0.3s;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.forecast-card:hover {
  transform: scale(1.05);
  background: #e9ecef;
  color: black;
}

.weather-icon {
  animation: float 3s infinite ease-in-out;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}

@media (min-width: 768px) {
  .forecast-card {
    width: calc(33.33% - 15px);
  }
}

@media (min-width: 1024px) {
  .forecast-card {
    width: calc(20% - 15px);
  }
}

/* Highlights the card for today's weather */
.today-card {
  border: 2px solid #0d6efd;
  box-shadow: 0 0 10px #0d6efd;
  transform: scale(1.05);
  backdrop-filter: none;
}


